.admin-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-card {
  width: 420px;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-input {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.admin-textarea {
  height: 70px;
}

.admin-btn {
  border: none;
  cursor: pointer;
  width: 130px;
  padding: 10px;
  color: white;
  background: green;
  font-size: 18px;
  border-radius: 10px;
}

/* responsive */

@media (max-width: 768px) {
  .admin-card {
    width: 90%;
    padding: 20px;
  }

  .admin-input {
    width: 100%;
  }

  .admin-btn {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .admin-card {
    padding: 15px;
  }

  .admin-input {
    font-size: 14px;
  }

  .admin-btn {
    font-size: 16px;
  }
}
